{
  "presets": ["es2015"],
  "plugins": [
    "transform-es5-property-mutators",
    ["transform-react-jsx", {
      "pragma": "__Scope_createElement__"
    }],
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ]
}