const List = Scope.createClass({
    data: [],
    beforeMount: function () {
        console.log('beforeMount');
    },
    afterMount: function () {
        console.log('afterMount');
    },
    beforeUpdate: function () {
        console.log('beforeUpdate');
    },
    afterUpdate: function () {
        console.log('afterUpdate');
    },
    beforeUnmount: function() {
        console.log('beforeUnmount');
    },
    getRandom: function () {
        console.log('getRandom');
        this.data = [];
        for (let i = 0; i < 10; i++) {
            this.data.push(Math.random());
        }
    },
    generate: function (event, $this) {
        Scope.utils.stopPropagation(event);
        this.getRandom();
        Scope.utils.update(this.refs.ul2);
    },
    onActive: {
        'li': function (event, $this, $owner) {
            Scope.utils.stopPropagation(event);
            $owner.find('li.active').removeClass('active');
            $this.addClass('active');
        }
    },
    getList: function () {
        return this.data.map(function (ele) {
            return <li onClick={function(){
                console.log(ele);
            }}>{ele}</li>;
        });
    },
    render: function () {
        const me = this;
        me.getRandom();
        return (
            <div>
                <a onClick={me.generate}>{me.props.label || 'update right list'}</a>
                <div>
                    <ul ref="ul1" style="display:inline-block;list-style:none;*zoom:1;*display:inline;"
                        onClick={me.onActive}>
                        {me.getList()}
                    </ul>
                    <ul ref="ul2" style="display:inline-block;list-style:none;*zoom:1;*display:inline;"
                        onClick={me.onActive}>
                        {me.getList}
                    </ul>
                </div>
            </div>
        );
    }
});

const Wrapper = Scope.createClass({
    updateList: function (event, $this) {
        Scope.utils.stopPropagation(event);
        Scope.utils.update(this.refs.list);
    },
    render: function () {
        return (
            <div>
                <a onClick={this.updateList}>Update List Component</a>
                <List ref="list"/>
                {this.props.children}
            </div>
        );
    }
});

Scope.render(<Wrapper />, mountNode);