@import "./../../../project.less";

@blueColor: #2DB7F5;
@yellowColor: #FFFF99;
@greenColor: #8BFC85;
@redColor: #FF7373;

@disableColor: #BBBBBB;
@shadowColor: #D4D4D4;
@darkColor: #666666;
@fontColor: #444444;
@backColor: #FFFFFF;

@transitionTime: 0.3s;

@COMP_NAME: timepicker;
@COMP_NAMESPACE: ~"@{STYLE_NAMESPACE}@{COMP_NAME}";

div.@{COMP_NAMESPACE} {
  box-sizing: content-box;
  position: relative;
  color: #666666;
  overflow: hidden;
  border: 1px @shadowColor solid;
  &.focused {
    border-color: @blueColor;
  }
  div.input {
    float: left;
    box-sizing: content-box;
    cursor: pointer;
    span {
      padding: 0 10px;
      color: @darkColor;
    }
  }
  div.picker {
    float: left;
    text-align: center;
    div.content {
      .inline-block();
      div.cell {
        float: left;
        div.cell-input {
          float: left;
          input {
            vertical-align: middle;
            border: 1px solid #D4D4D4;
            cursor: text;
            background: none transparent;
            box-shadow: none;
            font-family: inherit;
            font-size: inherit;
            text-align: center;
            margin: 0;
            padding: 0;
            outline: none;
            .inline-block();
            -webkit-appearance: none;
            &.focused {
              border-color: #2DB7F5;
            }
          }
        }

        div.cell-arrow {
          float: left;
          div {
            cursor: pointer;
            text-align: center;
            line-height: 0.5;
            &.up {
              .arrow {
                .inline-block();
                border-color: transparent;
                border-style: solid;
                border-top: none;
                border-bottom-color: #444444;
                &:hover {
                  border-bottom-color: @blueColor;
                }
              }
            }
            &.down {
              .arrow {
                .inline-block();
                border-color: transparent;
                border-style: solid;
                border-bottom: none;
                border-top-color: #444444;
                &:hover {
                  border-top-color: @blueColor;
                }
              }
            }
          }
        }
      }
      div.separator {
        float: left;
        text-align: center;
      }
    }
  }
}