<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picker</title>
    <link rel="stylesheet" href="./../../normalize.css" type="text/css"/>
    <!--[if lte IE 8]>
    <script src="./../../es5/es5-shim.min.js"></script>
    <script src="./../../es5/es5-sham.min.js"></script>
    <![endif]-->
</head>
<body>
<div style="padding: 20px;">
    <div id="date-picker-container"></div>
    <div id="time-picker-container"></div>
</div>
<script src="./../../jquery-1.12.3.min.js"></script>
<script src="./../../../dist/lib/scope.js"></script>
<script src="test.js"></script>
</body>
</html>
